<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button onclick="saveReq()">글 작성하기</button>
<table>
  <tr>
    <th>id</th>
    <th>title</th>
    <th>writer</th>
    <th>date</th>
    <th>hits</th>
    <th>like</th>
  </tr>
  <tr th:each="post: ${team_post_List}">
    <td th:text="${post.post_id}"></td>
    <td><a th:href="@{|/team/${post.post_id}|}" th:text="${post.post_title}"></a></td>
    <td th:text="${post.post_writer}"></td>
    <td th:text="*{#temporals.format(post.post_created_time, 'yyyy-MM-dd HH:mm:ss')}"></td>
    <td th:text="${post.post_hits}"></td>
    <td th:text="${post.post_like_count}"></td>
  </tr>
</table>
</body>
<script>
  const saveReq = () => {
    location.href = "/team/write";
  }
</script>
</html>